<mat-form-field class="field" fxFlex  appearance="outline"  >
  <mat-label>{{ label }}</mat-label>
  <mat-select  #select [formControl]="formControl">
    <mat-form-field class="field" fxFlex  appearance="outline">
      <div class="row" >
        <mat-icon svgIcon="search"></mat-icon>
        <input matInput (keyup)="onKey($event)" matTooltip="Please type item & press enter" placeholder="search & press enter"  #search type="text" />
      </div>
    </mat-form-field>
    <mat-option *ngFor="let item of items" [value]="item.code">
      {{ item.label }}
    </mat-option>
  </mat-select>
  <mat-error *ngIf="formControl.hasError('required')">{{error}}</mat-error>
</mat-form-field>
